<div class="position-relative">


  <div class="slider-section" [@scrollAnimation]="state">
    <div class="overlay">

    </div>
    <video loop muted>
      <source src="assets/mov_bbb.mp4" type="video/mp4">

    </video>
    <div class="content-section">


      <div class="">
        <div class="title"  [@textAnimate]="textState">
          LOREM IPSUM DOLOR
          <div class="bottom-line">

          </div>
        </div>
        <div class="content" [@textAnimate2]="textState">
          lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
          Quisque volutpat mattis eros.
        </div>
      </div>

    </div>
    <div class="logo">
      logo
    </div>

    <div class="next" (click)="next(2)">
      <i class="fa-solid fa-chevron-down"></i>
    </div>
    <div class="indicator">
      <div>
        <div class="blue-bar" [ngClass]="slide==1?'active':''"></div>
        <div class="black-bar" (click)="next(2)"></div>
      </div>


    </div>
  </div>
  <div class="slider-section" [style.backgroundImage]="slide2? 'url('+slide2.img+')':''" [@scrollAnimation2]="state2">
    <ng-container *ngIf="slide2">
      <div class="content-section cs-2">


        <div class="caro-section">
          <div class="title title2">
            {{slide2.title}}

          </div>
          <div class="position-relative">
            <owl-carousel-o [options]="customOptions" #owlCar>
              <ng-template carouselSlide *ngFor="let slide of slide2.data">
                <div class="t-card">

                  <div class="title-caro">
                    {{slide.title}}
                  </div>

                  <div class="content-caro">

                    {{slide.content}}

                  </div>

                </div>
              </ng-template>
            </owl-carousel-o>
            <div class="arrows">
              <a class="btn-arrow-left" (click)="owlCar.prev()">
                <i class="fa-solid fa-chevron-left"></i></a>
              <a class="btn-arrow-right" (click)="owlCar.next()"><i class="fa-solid fa-chevron-right"></i></a>

            </div>
          </div>
        </div>

      </div>
      <div class="logo logo2">
        logo
      </div>
      <div class="discover">
        DISCOVER MORE
      </div>

      <div class="indicator">
        <div class="">
          <div class="black-bar" (click)="next(1)" style="background: grey;"></div>
          <div class="blue-bar" [ngClass]="slide==2?'active':''"></div>
        </div>
      </div>
    </ng-container>

  </div>

</div>